{{#section 'css'}}
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .container{
            max-width: 700px;
            width: 100%;
            background: #fff;
            padding: 25px 30px;
            border-radius: 5px;
            box-shadow: 0 5px 10px rgba(0,0,0,0.15);
        }
        .container .title{
            font-size: 25px;
            font-weight: 500;
            position: relative;
        }
        .container .title::before{
            content: '';
            postion: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 30px;
            border-radius: 5px;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
        }
        .container form .user-details{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px 0 12px 0;
        }
        form .user-details .input-box{
            margin-bottom: 15px;
            width: calc(90%);
        }
        .user-details .input-box span.details{
            display: block;
            font-weight: 500;
            margin-bottom: 5px;
        }
        .user-details .input-box input{
            height: 45px;
            width: 100%;
            outline: none;
            /*border: 1px solid #ccc ;*/
            padding-left: 15px;
            font-size: 16px;
            border-bottom-width: 2px;
            transition: all 0.3s ease;
            border-radius: 10px;
            color: #0b409c;
        }
        .user-details .input-box input:focus,
        .user-details .input-box input:valid{
            border-color: #9b59b6;
        }
        form .button{
            height: 45px;
            margin: 45px 0;
        }
        form .button input{
            height: 100%;
            width: 100%;
            outline: none;
            color: #fff;
            border: none;
            font-size: 18px;
            font-weight: 500;
            border-radius: 5px;
            letter-spacing: 1px;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
        }
        form .button input:hover{
            background: linear-gradient(-135deg, #71b7e6, #9b59b6);
        }
        @media (max-width: 584px){
            .container{
                max-width: 100%;
            }
            form .user-details .input-box{
                margin-bottom: 15px;
                width: 100%;
            }
            .container form .user-details{
                max-height: 300px;
                overflow-y: scroll;
            }
            .user-details::-webkit-scrollbar{
                width: 0;
            }
        }
    </style>
{{/section}}
<div class="container">
    <div class="title"style="text-align: center; background: -webkit-linear-gradient(#71b7e6, #9b59b6);
  -webkit-background-clip: text; -webkit-text-fill-color: transparent; padding-bottom: 5px">Thông tin cá nhân</div>
    <form id="formRegister" method="POST">
        <div class="user-details">
            <div class="col-md-6">
                <div class="card" style="align-items: center; border-color: #0b409c; border-radius: 10px;">
                    <h4 class="card-title"style="background: -webkit-linear-gradient(#71b7e6, #9b59b6);
  -webkit-background-clip: text; -webkit-text-fill-color: transparent; padding-top: 5px; padding-bottom: 10px"> Thông tin người dùng</h4>
                    <div class="input-box">
                        <span class="details">Họ tên</span>
                        <input type="text" name="Name" id = "Name" value = "{{UserInfo.Name}}" readonly required>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="email" name="Email" id="Email" value = "{{UserInfo.Email}}" readonly required >
                    </div>
                    <div class="input-box">
                        <span class="details">Năm sinh</span>
                        <input data-toggle="datepicker" type="text" value = "{{formatDate UserInfo.Dob}}" readonly requiredrequired name="Dob">
                    </div>
                    <div class="input-box">
                        <span class="details">Địa chỉ</span>
                        <input type="text"  name="Address" value = "{{UserInfo.Address}}" readonly required>
                    </div>
                </div>
                <div class="card-footer mt-2 border-0" style="background-color: white">
                    <a class="btn btn-success mr-2" href="javascript:history.back()" role="button">
                        <i class="fa fa-backward" aria-hidden="true"></i>
                        Quay lại
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="align-items: center; border-color: #0b409c; border-radius: 10px;">
                    <h4 class="card-title"style="background: -webkit-linear-gradient(#71b7e6, #9b59b6);
  -webkit-background-clip: text; -webkit-text-fill-color: transparent; padding-top: 5px; padding-bottom: 10px">Thông tin tài khoản</h4>
                    <div class="input-box">
                        <span class="details">Username</span>
                        <input type="text" name="Username" id="Username" value="{{UserInfo.Username}}" readonly required>
                    </div>
                </div>
                <div class="button">
                    <a value="{{UserInfo.UserID}}" value1="{{UserInfo.Username}}" id="btnResetPass">
                        <input  value="Reset password" style="text-align: center">
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
{{#section 'js'}}
    <script>
        $('#btnResetPass').on('click', function(e) {
            var UserID = $(this).attr('value');
            var Username = $(this).attr('value1');
            var url = window.location.origin+window.location.pathname + "/resetpass?id=" + UserID;
            var answer = window.confirm('Bạn có muốn reset password của ' + Username);
            if (answer) {
                $.post(url, function (data) {
                    if (data.status == 1) {
                        alert(data.msg);
                        window.location.reload();
                    }
                });
            }
        });
    </script>
{{/section}}