<div class="card">
    <div class="card-header" style="background-color: antiquewhite">
        <h4 style="text-align: center">
            Danh sách Seller
            <div style="float: right">
                <a class="btn btn-sm btn-outline-primary" href="/admin/user/bidder" role="button">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    Xem danh sách Bidder
                </a>
                <a class="btn btn-sm btn-outline-danger" href="/admin/user/upgrade" role="button">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    Xem yêu cầu nâng cấp
                </a>
            </div>
        </h4>
    </div>

    <table class="table" id="SellerTable" style="text-align: center">
        <thead>
        <tr class="table-active">
            <th scope="col">UserID</th>
            <th scope="col">Username</th>
            <th scope="col">Loại</th>
            <th scope="col">Tình trạng</th>
            <th scope="col" style="text-align: center">Tính năng</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.sellerList}}
            <tr class="table-info">
                <th scope="row">{{UserID}}</th>
                <td>{{Username}}</td>
                <td>
                    Seller
                </td>
                <td>
                    {{#ifCond Activate 1}}
                        Đã kích hoạt
                    {{/ifCond}}
                </td>
                <td class="text-center">
                    <a class="btn btn-sm btn-primary" href="/admin/user/seller/detail?id={{UserID}}" role="button">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Chi tiết
                    </a>

                    <a class="btn btn-sm btn-secondary" value="{{UserID}}" value1="{{Username}}" id="btnDisable"
                       role="button">
                        <i class=" fa fa-ban" aria-hidden="true"></i>
                        Vô hiệu hóa
                    </a>

                    <a class="btn btn-sm btn-warning" value="{{UserID}}" value1="{{Username}}" id="btnDown"
                       role="button">
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        Giáng cấp
                    </a>
                    <a class="btn btn-sm btn-danger" value="{{UserID}}" value1="{{Username}}" id="btnDelete"
                       role="button">
                        <i class=" fa fa-trash" aria-hidden="true"></i>
                        Xóa
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
<div class="card-footer">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                {{#if this.isFirstPage}}
                    <a class="page-link" href="?page={{decrease_one this.currentPageIndex}}">
                    Previous
                    </a>
                {{/if}}

            </li>
            {{#each this.pageNumbers}}
                {{#if isCurrentPage}}
                    <li class="page-item active">
                        <a class="page-link" href="javascript:;">{{value}}</a>
                    </li>
                {{else}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </li>
                {{/if}}
            {{/each}}
            {{#if this.isLastPage}}
                <a class="page-link" href="?page={{increase_one this.currentPageIndex}}">
                Next
                </a>
            {{/if}}
        </ul>
    </nav>
</div>


{{#section 'js'}}
    <script>
        $("#SellerTable tbody").on("click", "#btnDown", function (e) {
            var UserID = $(this).attr('value');
            var Username = $(this).attr('value1');
            var url = window.location.origin+window.location.pathname + "/downgrade?id=" + UserID;
            var answer = window.confirm('Bạn có muốn giáng cấp ' + Username + ' thành bidder');
            if (answer) {
                $.post(url, function (data) {
                    if (data.status == 1) {
                        alert(data.msg);
                        window.location.reload();
                    }
                });
            }
        });
        $("#SellerTable tbody").on("click", "#btnDisable", function (e) {
            var UserID = $(this).attr('value');
            var Username = $(this).attr('value1');
            var url = window.location.origin+window.location.pathname + "/disable?id=" + UserID;
            var answer = window.confirm('Bạn có muốn vô hiệu hóa tài khoản ' + Username);
            if (answer) {
                $.post(url, function (data) {
                    if (data.status == 1) {
                        alert(data.msg);
                        window.location.reload();
                    }
                });
            }
        });

        $("#BidderTable tbody").on("click", "#btnDelete", function (e) {
            var UserID = $(this).attr('value');
            var Username = $(this).attr('value1');
            var url = window.location.origin + "/admin/user/delete?id=" + UserID;
            var answer = window.confirm('Bạn có muốn xóa tài khoản ' + Username);
            if (answer) {
                $.post(url, function (data) {
                    if (data.status == 1) {
                        alert(data.msg);
                        window.location.reload();
                    }
                });
            }
        });
    </script>
{{/section}}